.SearchResults {
    margin-top: 2rem
}

.SearchResults > select {
    padding: .1rem;
    font-size: .9rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s all;
}

.SearchResults > select:focus {
    outline: 0;
    cursor: pointer;
}

.SearchResults > select:hover {
    cursor: pointer;
}

.ResultPosts {
    padding: .8rem .8rem .2rem .8rem;
    margin-top: 1rem;
    width: 30rem;   
    background: white;
    border-radius: .1rem;
    box-shadow: 0px 0px 1px black;
}

